body {
  height: 5000px;
}

#header_wrap {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border-top: 2px solid #006583;
  border-bottom: 1px solid #f1f3f2;
  background: #ffffff;
  height: 80px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#header_wrap #i_header {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#header_wrap #i_header h1 {
  position: absolute;
  top: 18px;
  left: 10px;
  font-size: 30px;
  font-weight: 900;
  color: #006583;
}

#header_wrap #i_header > ul.onedepth {
  position: absolute;
  right: 10px;
  top: 25px;
  height: 310px;
  z-index: 200;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#header_wrap #i_header > ul.onedepth > li {
  float: left;
  position: relative;
  margin-left: 60px;
}

#header_wrap #i_header > ul.onedepth > li:hover > a {
  color: #01a6bc;
  border-bottom: 2px solid #01a6bc;
}

#header_wrap #i_header > ul.onedepth > li > a {
  display: block;
  height: 55px;
  font-size: 17px;
  color: #444444;
}

#header_wrap #i_header .btn_mob_menu {
  display: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#header_wrap .sub_menu {
  overflow: hidden;
  position: absolute;
  top: 40px;
  width: 100px;
  padding-top: 40px;
  z-index: 20;
}

#header_wrap .sub_menu .submn li {
  line-height: 30px;
}

#header_wrap .sub_menu .submn li a {
  font-size: 16px;
  color: #666666;
}

#header_wrap .sub_menu .submn li a:hover {
  color: #01a6bc;
}

#header_wrap .submenu_bg {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 250px;
  background: #ffffff;
  border-top: 1px solid #f1f2f3;
}

#header_wrap.sticky {
  border-top: none;
  background: rgba(255, 255, 255, 0.7);
}

#svisual_wrap {
  width: 100%;
  margin-top: 80px;
  background: url(../images/visual.png) center top;
  background-size: cover;
  background-attachment: fixed;
}

#svisual_wrap #i_svisual {
  width: 100%;
  height: 300px;
  padding: 40px 0;
  text-align: center;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#svisual_wrap #i_svisual h2 {
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 32px;
}

#svisual_wrap #i_svisual h2, #svisual_wrap #i_svisual p {
  color: #ffffff;
}

#btn_scrolltop {
  display: block;
  position: fixed;
  right: 15px;
  bottom: 30px;
  width: 30px;
  height: 30px;
  margin: 0;
  font-size: 30px;
  color: #01a6bc;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 0;
}

#btn_scrolltop:hover {
  color: #006583;
}

@media screen and (min-width: 1025px) {
  #m_menu_panel {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  body {
    background: #b3a197;
  }
  #header_wrap #i_header > ul.onedepth {
    right: 50px;
  }
  #m_menu_panel {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  body {
    background: #cccccc;
  }
  #header_wrap #i_header .btn_mob_menu {
    display: block;
    position: absolute;
    right: 10px;
    top: 19px;
    font-size: 30px;
    color: #006583;
    cursor: pointer;
  }
  .onedepth {
    display: none;
  }
  #m_menu_panel {
    display: block;
    position: fixed;
    left: -300px;
    top: 0;
    overflow-y: auto;
    width: 220px;
    height: 100vh;
    padding-right: 30px;
    font-size: 25px;
    z-index: 20;
  }
  #m_menu_panel .m_menu_area {
    position: relative;
    height: 100%;
    background: #ffffff;
  }
  #m_menu_panel .m_menu_area .onedepth {
    display: block;
  }
  #m_menu_panel .m_menu_area .onedepth > li {
    border-bottom: 1px solid #dadada;
  }
  #m_menu_panel .m_menu_area .onedepth > li > a {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    color: #444444;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #m_menu_panel .m_menu_area .onedepth > li > a:hover {
    color: #006583;
  }
  #m_menu_panel .m_menu_area .onedepth > li .use_depth2:after {
    float: right;
    content: '\f107';
    font-size: 19px;
    font-family: fontawesome;
  }
  #m_menu_panel .m_menu_area .onedepth > li:hover > a {
    color: #006583;
  }
  #m_menu_panel .m_menu_area .sub_menu {
    background: #f1f2f3;
  }
  #m_menu_panel .m_menu_area ul.submn > li {
    height: 30px;
    line-height: 30px;
  }
  #m_menu_panel .m_menu_area ul.submn > li a {
    padding: 10px 15px;
    color: #444444;
  }
  #m_menu_panel .m_menu_area ul.submn > li a:hover {
    color: #01a6bc;
  }
  #m_menu_panel .btn_close_menu {
    position: fixed;
    left: -235px;
    top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
  }
  #m_menu_bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 19;
  }
  #svisual_wrap #i_svisual {
    height: 200px;
    padding: 20px 0;
  }
  #svisual_wrap #i_svisual h2 {
    margin-top: 30px;
  }
}

@media screen and (max-width: 640px) {
  body {
    background: #01a6bc;
  }
}

@media screen and (max-width: 425px) {
  body {
    background: #e8e4d9;
  }
}

@media screen and (max-width: 320px) {
  body {
    min-width: 320px;
    background: #cccccc;
  }
}
/*# sourceMappingURL=layout.css.map */