@import 'mixin.scss';
$primaryColor:#006583;
$secondaryColor:#01a6bc;
$tertiaryColor:#7cbac9;
$subColor1:#e8e4d9;
$subColor2:#b3a197;
body {
  height:5000px;
}
#header_wrap {
  overflow:hidden;
  position:fixed;
  top:0;
  width:100%;
  border-top:2px solid $primaryColor;
  border-bottom:1px solid #f1f3f2;
  background:#ffffff;
  height:80px;
  transition:all 0.3s ease-out;
  #i_header {
    position:relative;
    width:100%;
    max-width:1200px;
    margin:0 auto;
    h1 {
      position:absolute;
      top:18px;
      left:10px;
      font-size:30px;
      font-weight:900;
      color:$primaryColor;
    }
    >ul.onedepth {
      position:absolute;
      right:10px;
      top:25px;
      height:310px;
      z-index:200;
      transition:all 0.5s;
      >li {
        float:left;
        position:relative;
        margin-left:60px;
        &:hover>a {
          color:$secondaryColor;
          border-bottom:2px solid $secondaryColor;
        }
        >a {
          display:block;
          height:55px;
          font-size:17px;
          color:#444444;
        }
      }
    }
    .btn_mob_menu {
      display:none;
      transition:all 0.5s ease-out;
    }
  }
  .sub_menu {
    overflow:hidden;
    position:absolute;
    top:40px;
    width:100px;
    padding-top:40px;
    z-index:20;
    .submn li {
      line-height:30px;
      a {
        font-size:16px;
        color:#666666;
        &:hover {
          color:$secondaryColor;
        }
      }
    }
  }
  .submenu_bg {
    position:absolute;
    top:80px;
    width:100%;
    height:250px;
    background:#ffffff;
    border-top:1px solid #f1f2f3;
  }
}
#header_wrap.sticky {
  border-top:none;
  background:rgba(255,255,255,0.7);
}

#svisual_wrap {
  width:100%;
  margin-top:80px;
  background:url(../images/visual.png) center top;
  background-size:cover;
  background-attachment:fixed;
  #i_svisual {
    width:100%;
    height:300px;
    padding:40px 0;
    text-align:center;
    color:#ffffff;
    box-sizing:border-box;
    h2 {
      margin-top:50px;
      margin-bottom:15px;
      font-size:32px;
    }
    h2,p {
      color:#ffffff;
    }
  }
}

#btn_scrolltop {
  display:block;
  position:fixed;
  right:15px;
  bottom:30px;
  width:30px;
  height:30px;
  margin:0;
  font-size:30px;
  color:$secondaryColor;
  transition:all 0.3s ease-out;
  z-index:0;
  &:hover {
    color:$primaryColor;
  }
}

@include pc-only {
  #m_menu_panel {
    display:none;
  }
}
@include tab {
  body {
    background:#b3a197;
  }
  #header_wrap {
    #i_header {
      >ul.onedepth {
        right:50px;
      }
    }
  }
  #m_menu_panel {
    display:none;
  }
}
@include mob {
  body {
    background:#cccccc;
  }
  #header_wrap {
    #i_header {
      .btn_mob_menu {
        display:block;
        position:absolute;
        right:10px;
        top:19px;
        font-size:30px;
        color:$primaryColor;
        cursor:pointer;
      }
    }
  }
  .onedepth {
    display:none;
  }
  #m_menu_panel {
    display:block;
    position:fixed;
    left:-300px;
    top:0;
    overflow-y:auto;
    width:220px;
    height:100vh;
    padding-right:30px;
    font-size:25px;
    z-index:20;
    .m_menu_area {
      position:relative;
      height:100%;
      background:#ffffff;

      .onedepth {
        display:block;
        >li {
          border-bottom:1px solid #dadada;
          >a {
            display:block;
            width:100%;
            padding:15px;
            font-size:15px;
            color:#444444;
            box-sizing:border-box;
            &:hover {
              color:$primaryColor;
            }
          }
          .use_depth2:after {
            float:right;
            content:'\f107';
            font-size:19px;
            font-family:fontawesome;
          }
        }
      }
      .sub_menu {
        background:#f1f2f3;
      }
      ul.submn {
        >li {
          height:30px;
          line-height:30px;
          a {
            padding:10px 15px;
            color:#444444;
            &:hover {
              color:$secondaryColor;
            }
          }
        }
      }
    }
    .btn_close_menu {
      position:fixed;
      left:-235px;
      top:15px;
      font-family:Arial, Helvetica, sans-serif;
      color:#ffffff;
    }
  }
  #m_menu_bg {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:19;
  }
}
@include mob-large {
  body {
    background:#01a6bc;
  }
}
@include mob-mid {
  body {
    background:#e8e4d9;
  }
}
@include mob-small {
  body {
    min-width:320px;
    background:#cccccc;
  }
}
